.List {
    .card {
        margin-bottom: 30px;
    }
}

.Grid {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

    .card {
        display: inline-flex;
    }

    .row {
        display: flex;
        gap: 30px;
    }
}
