.menu {
    background: var(--card-bg);
    position: absolute;
    z-index: 100;
    border-radius: 8px;
    border: 1px solid var(--primary-color);
    display: flex;
    flex-direction: column;
}

.item {
    padding: 10px 25px;
    width: 100%;
    outline: none;
    border: none;
    background: none;
    color: var(--primary-color);
    cursor: pointer;
}
