.app_blue_theme {
    --bg-color: #2dc6ff;
    --inverted-bg-color: #f4f9fb;
    --primary-color: #f4f9fb;
    --secondary-color: #05ffb0;
    --inverted-primary-color: #2dc6ff;
    --inverted-secondary-color: #115842;

    // skeleton
    --skeleton-color: #7bd2f2;
    --skeleton-shadow: #1a4350;

    // code
    --code-bg: #1dace1;
}
