.app_blue_theme {
    --bg-color: #2dc6ff;
    --inverted-bg-color: #f4f9fb;
    --primary-color: #f4f9fb;
    --secondary-color: #05ffb0;
    --inverted-primary-color: #2dc6ff;
    --inverted-secondary-color: #115842;
}
