.app_dark_theme {
    --bg-color: #3f1f1f;
    --inverted-bg-color: #f5eeee;
    --primary-color: #4dbe2a;
    --secondary-color: #779106;
    --inverted-primary-color: #15522f;
    --inverted-secondary-color: #78cd67;

    // skeleton
    --skeleton-color: #492b2b;
    --skeleton-shadow: #311313;

    // code
    --code-bg: #2c1717;

    // card
    --card-bg: #5d3434;

    // listbox
    --listbox-bg: #5d3434;
}
