.app.dark {
    --bg-color: #3f1f1f;
    --inverted-bg-color: #e8b6b6;
    --primary-color: #fefe6f;
    --secondary-color: #779106;
    --inverted-primary-color: #15522f;
    --inverted-secondary-color: #78cd67;
}
