:root {
    --bg-color: #f1f1f1;
    --inverted-bg-color: #3f1f1f;
    --primary-color: #15522f;
    --secondary-color: #78cd67;
    --inverted-primary-color: #64c653;
    --inverted-secondary-color: #779106;

    // skeleton
    --skeleton-color: #d4cbcb;
    --skeleton-shadow: #aba5a5;

    // code
    --code-bg: #e6e1e1;

    // card
    --card-bg: #f8f8f8;
}
